.info {
  opacity: 0;
  transition: opacity 500ms ease;
}

.info[data-show="true"] {
  opacity: 1;
}

.info-clicker {
  width: 1rem;
  height: 1rem;
  border: 2px solid white;
  box-shadow: 0 0 1rem black;
  background-color: #ff454596;
  transform: rotate(45deg);
  cursor: pointer;
  user-select: none;
}

.info-clicker[data-animate="true"] {
  animation: outline-slide 2s linear infinite;
}

@keyframes outline-slide {
  from {
    outline: 2px solid rgb(255, 80, 80);
    outline-offset: 0;
  }
  to {
    outline: 1px solid transparent;
    outline-offset: 0.5rem;
  }
}
