name: Website

on:
  push:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref == 'refs/heads/main' }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2

      - uses: actions/configure-pages@v5

      - name: Install
        run: bun run install

      - name: Build
        run: bun run build

      - name: Upload
        uses: actions/upload-pages-artifact@v4
        with:
          path: dist

  deploy:
    if: ${{ github.ref == 'refs/heads/main' }}
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
